.rarity-common{
    box-shadow: inset 0 0 0 5px lightGreen;
}

.rarity-rare {
    box-shadow: inset 0 0 0 5px rgb(91, 101, 242);
}

.rarity-epic {
    box-shadow: inset 0 0 0 5px rgb(196, 8, 196);
}

.rarity-legendary {
    box-shadow: inset 0 0 0 5px rgb(255, 189, 8);
}

.rarity-mythic {
    box-shadow: inset 0 0 0 5px rgb(186, 4, 4);
}

.card {
    width: 100px;
    height: 140px;
    border: 2px solid #444;
    border-radius: 8px;
    background: #333;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
}

.card.dragging {
    opacity: 0.5;
}

.card-emoticon {
    font-size: 32px;
    margin-bottom: 10px;
}

.card-name {
    font-size: 14px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

.card-stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.power, .health {
    background: #444;
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
    width:100%;
    height: 100%;
    margin: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}



